WebContent/wsdl/LayoutManager.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.tandembrowsing.org" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://www.tandembrowsing.org" xmlns:intf="http://www.tandembrowsing.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://www.tandembrowsing.org" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="processEvent">
    <complexType>
     <sequence>
      <element name="payload" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="processEventResponse">
    <complexType>
     <sequence>
      <element name="processEventReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>
   <wsdl:message name="processEventRequest">
      <wsdl:part element="impl:processEvent" name="parameters"/>
   </wsdl:message>
   <wsdl:message name="processEventResponse">
      <wsdl:part element="impl:processEventResponse" name="parameters"/>
   </wsdl:message>
   <wsdl:portType name="LayoutManager">
      <wsdl:operation name="processEvent">
         <wsdl:input message="impl:processEventRequest" name="processEventRequest"/>
         <wsdl:output message="impl:processEventResponse" name="processEventResponse"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="LayoutManagerSoapBinding" type="impl:LayoutManager">
      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="processEvent">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="processEventRequest">
            <wsdlsoap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="processEventResponse">
            <wsdlsoap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="LayoutManagerService">
      <wsdl:port binding="impl:LayoutManagerSoapBinding" name="LayoutManager">
         <wsdlsoap:address location="http://localhost:8080/tandembrowsing/services/LayoutManager"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>